@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
    background-image: url(../16578.jpg); 
    /* background-size: cover; */
    padding: 10px;
    text-align: center;
}

#mensaje {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Lobster Two", sans-serif; /* Añade un borde sólido alrededor del texto */
    color: #ffa600; /* Cambia el color del texto si lo deseas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agrega un sombreado oscuro debajo del texto */
}

.kittyCorazones{
    width: 200px;
    height: 200px;
}

.kittyBailando{
    width: 200px;
    height: 200px;
}

h1 {
    font-family: "Lobster Two", sans-serif; /* Añade un borde sólido alrededor del texto */
    font-size: 50px;
    padding: 10px; /* Agrega un espacio interno alrededor del texto para que el borde no esté pegado al texto */
    display: inline-block; /* Permite que el borde se aplique correctamente */
    color: #ffa600; /* Cambia el color del texto si lo deseas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agrega un sombreado oscuro debajo del texto */
}




